<!-- <div id="playground"> -->
<mat-card>
    <form [formGroup]="globalSearchForm" style="text-align: center;">
        <mat-form-field style="width:50%">
            <input type="text" matInput formControlName="search_value" [matAutocomplete]="auto" placeholder="Search" class="form-control font_sub_heading">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of ResultSearchData" [value]="option">
                    <mat-list>
                        <!-- <mat-list-item>
                                <i class="option_img material-icons" mat-list-icon> person </i>
                                <p class="option_head" mat-line>{{option}}</p>
                            </mat-list-item> -->
                        <mat-list-item>
                            <i class="option_img material-icons" mat-list-icon> person </i>
                            <h4 class="option_head" mat-line [innerHTML]="option | highlight: searchTerm"></h4>
                        </mat-list-item>
                    </mat-list>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</mat-card>
<!-- </div> -->

<!-- <mat-list-item>
    <i class="option_img material-icons" mat-list-icon> person </i>
    <h4 class="option_head" mat-line [innerHTML]="option | highlight: searchTerm"></h4>
</mat-list-item> -->

<div id="playground">

    <p>Highlight keywords as you type: <input id="keywords" size="24"></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis erat, facilisis vitae est sed, interdum luctus dui. Donec condimentum in neque ac consequat. Donec interdum quis massa molestie consequat. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum malesuada quam quis sapien volutpat placerat. Phasellus varius, enim vel fringilla pellentesque, felis velit mollis lacus, ac scelerisque sem sem sed eros.</p>

</div>
<router-outlet>

</router-outlet>